<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.core.system.role.mapper.SysRoleDeptMapper">
    <select id="selectDeptIdsByRoleId" resultType="java.lang.Long">
        SELECT dept_id
        FROM sys_role_dept
        WHERE role_id = #{roleId}
        ORDER BY dept_id ASC
    </select>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_dept
        WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO sys_role_dept (id, role_id, dept_id, create_by, create_time, update_by, update_time, remark)
        VALUES
        <foreach collection="roleDepts" item="item" separator=",">
            (#{item.id}, #{item.roleId}, #{item.deptId}, #{item.createBy}, #{item.createTime},
             #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>
</mapper>
